body{
    margin: 0;
    text-align: center;

}
#day{
    border-bottom: solid 5px;
    padding-bottom: 3em;
}
li{
    border: solid grey;
    border-width: 1px 0;
    display: flex;
    height: 3em; /**/
    list-style-type: none;
    margin: 0 3em 0;
    padding: 2px 0;
}

form{
    height: auto;
    margin: 0;
    padding: 0;
    width: 85%;
}

.event{
    border: none;
    height: 100%;
    width: 100%;
}

.save{
    background: turquoise;
    height: 100%;
    width:5%;
}

span{
    width: 10%;
}
